<script type="text/javascript" src="~/js/comment/comment.js"></script>

<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>用户名</th>
                <th>新闻</th>
                <th>评论内容</th>
                <th>状态</th>
                <th>插入时间</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div>
        <ul id="paginationUserList" class="pagination"></ul>
    </div>
</div>