@model List<fns.Models.Admin.VModels.vSplash>

<div class="btn-toolbar">
    <button class="btn btn-primary">新建</button>
</div>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>图片</th>
                <th>链接地址</th>
                <th>时长(s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <img src="@item.PicUrl" style="height:60px;width:60px;"/>
                    </td>
                    <td>@item.RedirectUrl</td>
                    <td>@item.Duration</td>
                    <td style="display:flex;">
                        <a><i class="fa fa-pencil fa-fw"></i></a>
                        <a><i class="fa fa-remove fa-fw"></i></a>
                    </td>
                </tr>
            }
            </tbody>
    </table>
</div>