<script type="text/javascript" src="/js/user/user.js"></script>

<div class="btn-toolbar">
    <button class="btn btn-primary" onclick="openModal()"> 批量设置新闻类目</button>
</div>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>用户名</th>
                <th>头像</th>
                <th>性别</th>
                <th>状态</th>
                <th>生日</th>
                <th>注册时间</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div>
        <ul id="paginationUserList" class="pagination"></ul>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">批量设置新闻类目</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="duration">新闻类目</label>
                        <select id="cid"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="save()">保存</button>
            </div>
        </div>
    </div>
</div>