@model List<fns.Models.Admin.VModels.vNews>

 @foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Title</td>
        <td>@item.Content</td>
        <td>@item.InsDt</td>
        <td style="display:flex;">
            <a href="user.html"><i class="fa fa-pencil fa-fw"></i></a>
            <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-remove fa-fw"></i></a>
        </td>
    </tr>
}
