@model fns.Models.Admin.VModels.GridPagination

<div class="btn-toolbar">
    <button class="btn btn-primary">新建</button>
</div>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>内容</th>
                <th>创建时间</th>
                <th style="width: 36px;"></th>
            </tr>
        </thead>
        <tbody id="tbNews">

        </tbody>
    </table>
</div>
<div>
    <ul id="paginationNewsList" class="pagination"></ul>
</div>
<div id="text"></div>

<br />
<script>
    $(function () {
        $('#paginationNewsList.pagination').jqPaginator({
            totalCounts: @(Model.total),
            pageSize: @(Model.ps),
            currentPage: 1,
            onPageChange: function (pi, type) {
                $('#text').html('当前第' + pi + '页');
                $("#tbNews").load("/News/Items", { "ps": @(Model.ps), "pi": pi}, function () { });
            }
        });

    })
</script>